{% extends 'partials/base.html' %}
{% block title %}Item List{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <h2>Items List</h2>
</div>
<div class="d-flex justify-content-center">
    <table class="table table-hover table-striped bg-white m-5">
        <colgroup>
            <col class="compact_col">
            <col class="compact_col">
            <col class="compact_col">
        </colgroup>
        <thead class="bg-info text-white">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Activity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="act_btn btn btn-info btn-sm" href="{% url 'ims-view-item' item.id %}">View</a>
                        <a class="act_btn btn btn-danger btn-sm" href="{% url 'ims-edit-item' item.id %}">Edit</a>
                        <a class="act_btn btn btn-success btn-sm" href="{% url 'ims-sell-item' item.id %}">Sell</a>
                        <a class="act_btn btn btn-warning btn-sm" href="{% url 'ims-order-item' item.id %}">Order</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
