{% extends 'partials/base.html' %}
{% block title %}Order Cancelled{% endblock %}

{% block content %}
<div class="d-flex justify-content-center py-3">
    <h1>Order Cancelled</h1>
</div>
<div class="table_wrap">
    <table class="table table-hover table-striped compact-table">
        <colgroup>
            <col class="compact_col"  >
            <col class="compact_col"  >
            <col class="compact_col"  >
            <col class="compact_col"  >
        </colgroup>
        <thead class="bg-info text-white">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date and Time (Placed)</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orderCancelled %}
            <tr>
                <td>{{ order.name }}</td>
                <td>${{ order.cost }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.orderdttm }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
