{% extends 'partials/base.html' %}
{% block title %}Order Placed{% endblock %}

{% block content %}
<div class="d-flex justify-content-center py-3">
    <h1>Orders Placed</h1>
</div>
<div class="table_wrap">
    <table class="table table-hover table-striped compact-table">
        <colgroup>
            <col class="compact_col" >
            <col class="compact_col" >
            <col class="compact_col" >
            <col class="compact_col" >
            <col class="compact_col" >
        </colgroup>
        <thead class="bg-info text-white">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Activity</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orderPlaced %}
            <tr>
                <td>{{order.name}}</td>
                <td>${{order.cost}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.orderdttm}}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <input class="btn btn-success " type="submit" value="Accept" name="action">
                        <input class="btn btn-danger " type="submit" value="Reject" name="action">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}