{% extends 'partials/base.html' %} 
{% block title %}Order Item{% endblock %} 
{% block content %}
<div class="root_box">
  <div class="card bg-white p-5 mc">
    <h3 class="text-center">Order Item</h3>
    <div class="card-body bg-light cbody">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Name </label>
          {{ form.name }}
      </div>
      <div class="form-group">
          <label>Quantity </label>
          {{ form.quantity }}
      </div>
      <div class="form-group">
          <label>Cost</label>
          {{ form.cost }}
      </div>
        <div class="d-flex flex-column">
          <input
            class="btn btn-warning btn-block mx-3 my-2"
            type="submit"
            value="Order"
          />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

